---
title: "Whose Data Is It Anyway? Designing a User-Centric and Sovereign Architecture for Media Consumption in the European Digital Space"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Michiel Van de Velde', 'https://michielvandevelde.be/', 'https://michielvandevelde.be/profile#me' %> <sup></sup>

{:#affiliations}
- {:#myaffiliation} Professional Bachelor Electronics-ICT, specialisation ICT
- {:#myaffiliation} Academic year 2025-2026
- {:#myaffiliation} Internal Supervisor Bart Delrue
- {:#myaffiliation} In Correspondence With External Supervisors Pieter Colpaert and Ben de Meester 

<%= section '0.abstract' %>  

</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'preface' %>
  <%= section 'tableofcontents' %>
  <%= section 'listoffigures' %>
  <%= section 'listoftables' %>Q3: How can I make Scho
  <%= section 'listofcodefragments' %>
  <%= section 'listofabbreviatons' %>
  <%= section 'glossary' %>
  <%= section '1.introduction' %>
  <%= section '2.references' %>
  <%= section '3.literature' %>
  <%= section '4.architecture' %>
</main>
<footer></footer>
